.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


body{
  padding: 0;
  margin: 0;;
}

.gameHeading{
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 2px;
  padding-bottom: 0;
}

.winner-modal{
  color: red;
  font-size: 30px;
  margin: -60px;
  padding: -15px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.board{
  width: 500px;
  height: 500px;
  background-color:#96a8c8;
  border: solid black .5px;
  display: flex;
  flex-direction: column;
}

.row{
  display:flex;
  flex: 33%;
  flex-direction: row;
  /* border: .5px solid black; */
}

.Square{
  flex: 33%;
  height: 100%;
  border: .5px solid black;
  cursor: pointer;
  display: grid;
  place-items: center;
  color: black;
  font-size: 60px;
}


.Square:active{
  background-color: #95a4c2;
}